<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Photo Diary</title>
</head>
<body>
    <header>
      <img src="{{ url_for('static', filename='pic/logo.png') }}" alt="logo" class="logo" width="20%">
        <nav>
            <ul>
                {% if session.get('user_id') %}
                    <li><a href="{{ url_for('index') }}" class="{{ 'active' if request.endpoint == 'index' else '' }}">HOME</a></li>
                    <li><a href="{{ url_for('profile') }}" class="{{ 'active' if request.endpoint == 'profile' else '' }}">PROFILE</a></li>
                    <li><a href="{{ url_for('upload') }}" class="{{ 'active' if request.endpoint == 'upload' else '' }}">UPLOAD</a></li>
                    <li><a href="{{ url_for('search') }}" class="{{ 'active' if request.endpoint == 'search' else '' }}">SEARCH</a></li>
                    <li><a href="{{ url_for('messages') }}" class="{{ 'active' if request.endpoint == 'messages' else '' }}">MESSAGE</a></li>
                    <li><a href="{{ url_for('logout') }}" class="logout">LOGOUT</a></li>
                {% else %}
                    <li><a href="{{ url_for('register') }}" class="{{ 'active' if request.endpoint == 'register' else '' }}">REGISTER</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
